.searchBar{
  margin-bottom: 12px;
  text-align: center;
}
.buttonSearchBar {
  background: linear-gradient(to bottom right, #e75907, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.buttonSearchBar:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.buttonSearchBar:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(95, 84, 77, 0.5);
}


.form__group {
    
  position: relative;
  padding:0;
  width: 60%;
  text-align: center;
  margin-left: 25%;
  margin-bottom: 20px;
  
}

.form__field {
  font-family: inherit;
  width: 30%;
  border: 0;
  border-bottom: 2px solid rgb(255, 123, 0);
  outline: 0;
  font-size: 1.3rem;
  color: rgb(160, 77, 0);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  text-align: center;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgb(88, 53, 0);
}

.form__field:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #f8d303,#ff0000);
  border-image-slice: 1;
}


.select{
  background: linear-gradient(to bottom right, #e75907, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 10px;
  padding: 10px;
}


.select:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(95, 84, 77, 0.5);
}

.select option{
  background-color: #d98250;
  border-radius: 15px;

}
.select::-webkit-scrollbar {
  background-color: rgb(94, 48, 19);             
}

.errors{
  font-size: 90%;
  color: rgb(99, 7, 7);
  font-style: oblique;
  text-align: center;
  position: sticky;
  border-radius: 40px;
}


.errors {
  
  animation-name: parpadeo;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}